<ion-header [translucent]="true">

    <app-explore-container></app-explore-container>

</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header>

            <ion-card-title>
                Приклад 1
            </ion-card-title>


        </ion-card-header>
        <ion-button (click)="ras()">Приклад1</ion-button>
    </ion-card>
    <ion-card>
        <ion-card-header>

            <ion-card-title>
                Приклад 2
            </ion-card-title>


        </ion-card-header>
        <ion-button (click)="ras1()">Приклад2</ion-button>
        <ion-button (click)="stop1()">Стоп</ion-button>
    </ion-card>
    <ion-card>
        <ion-card-header>

            <ion-card-title>
                Приклад 3
            </ion-card-title>


        </ion-card-header>
        <ion-button (click)="ras2()">Приклад3</ion-button>
        <ion-button (click)="stop2()">Стоп</ion-button>
    </ion-card>
    <ion-card>
        <ion-card-header>

            <ion-card-title>
                Приклад 4
            </ion-card-title>


        </ion-card-header>
        <ion-button (click)="ras3()">Приклад4</ion-button>
        <ion-button (click)="ras3_1()">Приклад4.1</ion-button>
    </ion-card>
    <ion-card>
        <ion-card-header>

            <ion-card-title>
                Приклад 5
            </ion-card-title>


        </ion-card-header>
        <ion-label>Введіть користувача</ion-label>
        <input type="text" #input>
        <ion-button (click)="ras5()">Приклад 5</ion-button>
        <ion-button (click)="ras5_1()">Приклад 5.1</ion-button>
        <ion-list>
            <ion-item *ngFor="let elem of gitHubUsers ">{{elem}}</ion-item>
        </ion-list>
    </ion-card>
</ion-content>