input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
}

ion-label {
    margin-left: 10px;
    color: #999;
    font-size: 18px;
}