<ion-header [translucent]="true">
    <ion-toolbar>
        <app-my-header></app-my-header>
    </ion-toolbar>
</ion-header>
<ion-header>

    <ion-title>{{ action }} Birthday</ion-title>

    <ion-button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
    </ion-button>


</ion-header>

<ion-content padding class="details">
    <ion-list>
        <ion-item>
            <ion-label>Name</ion-label>
            <ion-input text-right type="text" [(ngModel)]="birthday.Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Birthday</ion-label>
            <ion-datetime displayFormat="MMMM D, YYYY" pickerFormat="MMMM D YYYY" [(ngModel)]="isoDate"></ion-datetime>
        </ion-item>
    </ion-list>
    <ion-button block (click)="save()">Save</ion-button>
    <ion-button block (click)="update()">Update</ion-button>
</ion-content>